workflows/interview_schedular_agent.json
{
  "updatedAt": "2026-01-14T12:46:30.958Z",
  "createdAt": "2026-01-12T04:25:57.909Z",
  "id": "dAZkAKCmNTSGrll3",
  "name": "interview-schedular-agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        -336
      ],
      "id": "522bc8ad-e25f-42b8-b25f-91ca29189ac8",
      "name": "Cadidate DB Watcher"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d89bccf-2310-453f-96d7-0622783b596e",
              "leftValue": "={{ $json.Call_Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        -336
      ],
      "id": "c2e44bf4-0e37-4752-8c13-3c08eb32cdb1",
      "name": "Filter Uncalled"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Screening_Status",
              "lookupValue": "Qualified"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -336
      ],
      "id": "1283736b-3809-4ed1-a213-299851918e7c",
      "name": "Get Qualified",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Filter Uncalled').item.json.row_number }}",
            "Call_Status": "Queued"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Unique_Id",
              "displayName": "Unique_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Applied_For",
              "displayName": "Applied_For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Summary",
              "displayName": "Resume_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATS_Score",
              "displayName": "ATS_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening_Status",
              "displayName": "Screening_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI_Analysis",
              "displayName": "AI_Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Link",
              "displayName": "Resume_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call_Status",
              "displayName": "Call_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        -352
      ],
      "id": "c59437b2-c05d-4f07-a97f-31212e9ab30f",
      "name": "Set Queued",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tEONuWJRWa64DL2me7JxPDRvi22Lns16RiKkr7zV5Vw",
          "mode": "list",
          "cachedResultName": "Job_Openings_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEONuWJRWa64DL2me7JxPDRvi22Lns16RiKkr7zV5Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEONuWJRWa64DL2me7JxPDRvi22Lns16RiKkr7zV5Vw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job_Title",
              "lookupValue": "={{ $json.Applied_For }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -352
      ],
      "id": "e3211811-7d01-482a-b463-98779252941b",
      "name": "Get Job Information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff1778f-6248-4566-8c5f-0194963eab18",
              "name": "Unique_Id",
              "value": "={{ $('Filter Uncalled').item.json.Unique_Id }}",
              "type": "string"
            },
            {
              "id": "1b6de9aa-27cc-40cb-8142-5c29f60a4486",
              "name": "candidate_Name",
              "value": "={{ $('Filter Uncalled').item.json.Candidate_Name }}",
              "type": "string"
            },
            {
              "id": "47922e54-0082-41a7-bae3-2829836145bf",
              "name": "job_role",
              "value": "={{ $('Filter Uncalled').item.json.Applied_For }}",
              "type": "string"
            },
            {
              "id": "5599c221-bdc8-45e1-996c-fbc0d046063b",
              "name": "Email",
              "value": "={{ $('Filter Uncalled').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "7c443507-d959-450d-8eb1-f1316335282e",
              "name": "Phone",
              "value": "={{ $('Filter Uncalled').item.json.Phone }}",
              "type": "number"
            },
            {
              "id": "58e642d9-7466-40a0-b1cf-9fba81fe89fe",
              "name": "Location",
              "value": "={{ $('Filter Uncalled').item.json.Location }}",
              "type": "string"
            },
            {
              "id": "98736c11-312b-44a7-ac18-daa06dad3ef7",
              "name": "job_location",
              "value": "={{ $('Get Job Information').item.json.Job_Location }}",
              "type": "string"
            },
            {
              "id": "6409fadc-5c04-4f7d-901b-4b2fa7ef212c",
              "name": "AI_Analysis",
              "value": "={{ $('Filter Uncalled').item.json.AI_Analysis }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -352
      ],
      "id": "fc20e9f5-ff57-4a73-919f-3d074c452588",
      "name": "Set Up Call Information"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+1234567890\", \n  \"to_number\": \"{{ $json.Phone }}\", \n  \"agent_id\": \"YOUR_AGENT_ID_HERE\",\n  \"retell_llm_dynamic_variables\": {\n    \"candidate_name\": \"{{ $json.candidate_Name }}\",\n    \"job_role\": \"{{ $json.job_role }}\",\n    \"job_location\": \"{{ $json.job_location }}\",\n    \"candidate_location\": \"{{ $json.Location }}\",\n    \"unique_id\": \"{{ $json.Unique_Id }}\",\n    \"resume_summary\": \"{{ $json.AI_Analysis }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -352
      ],
      "id": "b7f935eb-01ef-43a3-9254-c2c63acd0356",
      "name": "Initiate Call"
    },
    {
      "parameters": {
        "content": "# 📌 Workflow Documentation: \"The Dialer\" (Phase 1)\n\n",
        "height": 80,
        "width": 912,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -784
      ],
      "typeVersion": 1,
      "id": "ab5cebad-6ed6-4fb0-857b-74cbadf71c6d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 1. ⏱️ Trigger: Candidate DB Watcher\n**Type:** Schedule Trigger\n**Purpose:** Wakes up the workflow periodically (e.g., every 15 or 30 mins).\n**Note:** Ensure this interval isn't too short to prevent API rate limits, but frequent enough to call leads while they are fresh.",
        "height": 432,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -592
      ],
      "typeVersion": 1,
      "id": "694b36aa-bbd8-433e-9dfb-63660ecda295",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 2. 📄 Node: Get Qualified\n**Type:** Google Sheets (Get Many Rows)\n**Purpose:** Fetches the \"Raw Lead List\".\n**Logic:** Looks for rows in `Candidates_DB` where:\n- `Status` is \"Qualified\"\n- `Call_Status` is Empty (or \"Pending\")",
        "height": 432,
        "width": 304,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -592
      ],
      "typeVersion": 1,
      "id": "ced65c88-fe99-4e15-a3e4-baf3af8331c1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 3. 🚦 Node: Filter Uncalled\n**Type:** Filter / Switch\n**Purpose:** The \"Safety Gate\".\n**Logic:** Double-checks that the candidate hasn't been called yet.\n- Pass: If `Call_Status` is Empty.\n- Stop: If `Call_Status` contains \"Called\", \"Queued\", or \"Interested\".",
        "height": 432,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -592
      ],
      "typeVersion": 1,
      "id": "fb9b8aa1-8ba4-4524-9183-5fbfb611870a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### 4. 📂 Node: Get Job Information\n**Type:** Google Sheets (Get Row)\n**Purpose:** Context Enrichment.\n**Logic:** Uses the `Applied_For` column (e.g., \"Node Dev\") to look up details in a *separate* \"Jobs\" sheet (Location, Salary Range, JD Summary).\n**Benefit:** Gives the AI specific data about the role to answer candidate questions accurately.",
        "height": 432,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -592
      ],
      "typeVersion": 1,
      "id": "f235afce-60af-4774-a975-4da1b4390119",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### 5. 🔒 Node: Set Queued\n**Type:** Google Sheets (Update Row)\n**Purpose:** The \"Locking Mechanism\".\n**Logic:** IMMEDIATELY updates the candidate's `Call_Status` to **\"Queued\"**.\n**Why:** Prevents the workflow from picking up the same person again in the next run if the call is still in progress.",
        "height": 432,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -592
      ],
      "typeVersion": 1,
      "id": "d5a59361-99fe-4f6a-b486-d689913b85cd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### 6. 🛠️ Node: Set Up Call Information\n**Type:** Edit Fields (Set)\n**Purpose:** Data Preparation.\n**Logic:**\n- Formats Phone Number to E.164 (adds `+91` or country code).\n- Maps variables for the AI: `candidate_name`, `job_role`, `unique_id`, `current_time`.\n- Sets the `agent_id` and `from_number`.",
        "height": 432,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -592
      ],
      "typeVersion": 1,
      "id": "e670484a-5930-4054-beec-6d30aae6a442",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### 7. 📞 Node: Initiate Call\n**Type:** HTTP Request\n**Purpose:** The Action.\n**Endpoint:** `POST https://api.retellai.com/v2/create-phone-call`\n**Auth:** Header Auth (`Bearer <YOUR_API_KEY>`)\n**Body:** Sends the JSON payload prepared in the previous node to trigger the actual phone call.",
        "height": 432,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -592
      ],
      "typeVersion": 1,
      "id": "4eab03c4-6c02-4d9e-97b9-8044aa592201",
      "name": "Sticky Note7"
    }
  ],
  "connections": {
    "Cadidate DB Watcher": {
      "main": [
        [
          {
            "node": "Get Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Qualified": {
      "main": [
        [
          {
            "node": "Filter Uncalled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uncalled": {
      "main": [
        [
          {
            "node": "Get Job Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queued": {
      "main": [
        [
          {
            "node": "Set Up Call Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Information": {
      "main": [
        [
          {
            "node": "Set Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Call Information": {
      "main": [
        [
          {
            "node": "Initiate Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cadidate DB Watcher": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b3eec615-24f3-46e7-afd7-fe177b5d66bc",
  "activeVersionId": null,
  "versionCounter": 38,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-12T04:25:57.927Z",
      "createdAt": "2026-01-12T04:25:57.927Z",
      "role": "workflow:owner",
      "workflowId": "dAZkAKCmNTSGrll3",
      "projectId": "nPULQSgjz9YKHEZ2",
      "project": {
        "updatedAt": "2025-05-25T07:44:53.966Z",
        "createdAt": "2025-05-25T07:38:19.017Z",
        "id": "nPULQSgjz9YKHEZ2",
        "name": "Argha Dey Sarkar <email2argha@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
        "projectRelations": [
          {
            "updatedAt": "2025-05-25T07:38:19.017Z",
            "createdAt": "2025-05-25T07:38:19.017Z",
            "userId": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
            "projectId": "nPULQSgjz9YKHEZ2",
            "user": {
              "updatedAt": "2026-01-15T04:06:52.000Z",
              "createdAt": "2025-05-25T07:38:18.466Z",
              "id": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
              "email": "email2argha@gmail.com",
              "firstName": "Argha",
              "lastName": "Dey Sarkar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-25T07:46:43.781Z",
                "personalization_survey_n8n_version": "1.93.0",
                "automationGoalDevops": [
                  "monitoring-alerting",
                  "cloud-infrastructure-orchestration"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "vSTSXvCp1TdpkJhY",
                "userActivatedAt": 1748174400163,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764302866737
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-12T17:30:36.998Z",
      "createdAt": "2026-01-12T17:30:36.998Z",
      "id": "mAkyKogKtWsVdpO8",
      "name": "recruitment-agents"
    }
  ],
  "activeVersion": null
}