workflows/interview_scheduler_tools.json
{
  "updatedAt": "2026-01-14T12:57:35.353Z",
  "createdAt": "2026-01-14T04:39:52.467Z",
  "id": "ZeofjOeIQNkGvJ3A",
  "name": "Interview-Scheduler-Tools",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-tool",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -112
      ],
      "id": "30658f34-a656-48b0-94c4-9c7a169cf06b",
      "name": "Webhook",
      "webhookId": "31dffbe0-38cc-4131-8735-45e55a7c27fd"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "update_candidate_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a2241b1-a5b6-4625-a09f-15ecb3a30d5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94884935-9377-4dc3-a27e-478654ccb08f",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "check_slot_availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Check Availability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d519340-34a2-4449-abf5-5378552f6629",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "book_interview_slot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Book Slot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -736,
        -128
      ],
      "id": "72ce176f-4eea-47b3-b92c-21851bd0cee7",
      "name": "The Tool Router"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Unique_Id",
              "lookupValue": "={{ $json.body.args.unique_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -720
      ],
      "id": "189ac194-f285-442f-b848-d16f69ef8806",
      "name": "Get Candidate Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Call_Status": "={{ $('Webhook').item.json.body.args.status }}",
            "Non_Schedule_Reason": "={{ $('Webhook').item.json.body.args.reason }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Unique_Id",
              "displayName": "Unique_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Applied_For",
              "displayName": "Applied_For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Summary",
              "displayName": "Resume_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATS_Score",
              "displayName": "ATS_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening_Status",
              "displayName": "Screening_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI_Analysis",
              "displayName": "AI_Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Link",
              "displayName": "Resume_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call_Status",
              "displayName": "Call_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notice_Period",
              "displayName": "Notice_Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Current_CTC",
              "displayName": "Current_CTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Expected_CTC",
              "displayName": "Expected_CTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Interview_Time",
              "displayName": "Interview_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Non_Schedule_Reason",
              "displayName": "Non_Schedule_Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -720
      ],
      "id": "b1373b98-4f82-4ea6-b675-945ca5419a82",
      "name": "Update Call Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the requested slot\nconst requestedSlot = $input.first().json.body.args.requested_slot;\nconst dateObj = new Date(requestedSlot);\n\n// 2. Define IST Offset (India is UTC + 5 hours 30 minutes)\n// 5.5 hours * 60 mins * 60 seconds * 1000 milliseconds\nconst istOffsetMs = 5.5 * 60 * 60 * 1000; \n\n// 3. Shift the time to \"India Time\" manually\nconst dateInIST = new Date(dateObj.getTime() + istOffsetMs);\n\n// 4. Clamp to Start of Day (00:00:00) in India Time\ndateInIST.setUTCHours(0, 0, 0, 0);\n\n// 5. Shift back to UTC to get the \"Search Window Start\"\nconst windowMin = new Date(dateInIST.getTime() - istOffsetMs);\n\n// 6. Calculate End of Day (add 23h 59m 59s 999ms)\n// We add \"almost\" 24 hours to the windowMin\nconst windowMax = new Date(windowMin.getTime() + (24 * 60 * 60 * 1000) - 1);\n\nreturn {\n  json: {\n    requested_slot: requestedSlot,\n    window_min: windowMin.toISOString(),\n    window_max: windowMax.toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -112
      ],
      "id": "513bef97-0798-4832-89cd-d57ed48ebb77",
      "name": "Prepare the Time Window"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "78534b3793533d60a774510c9dec6d82fdaa2477e4fbeda9282510fef145a232@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Recruitment Calendar"
        },
        "timeMin": "={{ $json.window_min.toDateTime() }}",
        "timeMax": "={{ $json.window_max.toDateTime() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -80,
        -112
      ],
      "id": "8d3b8b9b-09c6-4adb-a2e7-23a39faaeb56",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "N2zOq9qUSQq253tI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// ⚙️ CONFIGURATION SECTION\n// ==========================================\nconst CONFIG = {\n    TIMEZONE_OFFSET: 5.5, // India (+5.5)\n    START_HOUR: 9,        // 9 AM\n    END_HOUR: 19,         // 7 PM\n    WORK_DAYS: [1, 2, 3, 4, 5, 6], // Mon-Sat\n    MAX_ALTERNATIVES: 3\n};\n// ==========================================\n\n// 1. Get Inputs\nconst requestedSlotStr = $('Prepare the Time Window').first().json.requested_slot;\nconst events = $input.all().map(item => item.json);\n\n// Helper: Convert UTC to Local Config Time (Face Value)\n// e.g. Converts 06:30 UTC -> 12:00 \"UTC-Face\" (which represents 12 PM IST)\nconst getLocalTime = (dateObj) => {\n    return new Date(dateObj.getTime() + (CONFIG.TIMEZONE_OFFSET * 60 * 60 * 1000));\n};\n// Helper: Convert Local Config Time (Face Value) to True UTC\n// e.g. Converts 12:00 \"UTC-Face\" -> 06:30 UTC\nconst getUtcTime = (localDateObj) => {\n    return new Date(localDateObj.getTime() - (CONFIG.TIMEZONE_OFFSET * 60 * 60 * 1000));\n};\n\n// 2. Process Requested Slot (SMART PARSING FIX)\nconst inputDate = new Date(requestedSlotStr);\nlet reqStart;      // The TRUE UTC time for Calendar checking\nlet reqStartLocal; // The \"Face Value\" time for Office Hours checking\n\n// Check if input has timezone info (+05:30 or Z)\nconst hasTimezone = requestedSlotStr.includes('+') || requestedSlotStr.includes('Z');\n\nif (hasTimezone) {\n    // Case A: Input is \"12:00+05:30\" (Correct ISO)\n    // new Date() already parses this to True UTC (06:30 Z)\n    reqStart = inputDate; \n    // Convert to Local Face Value for logic checks (06:30 Z -> 12:00)\n    reqStartLocal = getLocalTime(reqStart);\n} else {\n    // Case B: Input is \"12:00\" (Floating/Local)\n    // new Date() treats this as 12:00 UTC (Face Value)\n    reqStartLocal = inputDate; \n    // Convert Face Value to True UTC (12:00 -> 06:30 Z)\n    reqStart = getUtcTime(reqStartLocal);\n}\n\nconst reqEnd = new Date(reqStart.getTime() + 30 * 60000); \n\n// 3. Check Availability\nlet status = \"AVAILABLE\";\nlet failReason = \"\";\n\nconst reqDay = reqStartLocal.getDay();\nconst reqHour = reqStartLocal.getUTCHours(); \n\nif (!CONFIG.WORK_DAYS.includes(reqDay)) {\n    status = \"UNAVAILABLE\";\n    failReason = \"Non-working day\";\n} else if (reqHour < CONFIG.START_HOUR || reqHour >= CONFIG.END_HOUR) {\n    status = \"UNAVAILABLE\";\n    failReason = \"Outside office hours\";\n}\n\nif (status === \"AVAILABLE\") {\n    for (const event of events) {\n        if (!event.start || !event.end) continue;\n        const eStart = new Date(event.start.dateTime || event.start.date);\n        const eEnd = new Date(event.end.dateTime || event.end.date);\n        \n        if (reqStart < eEnd && reqEnd > eStart) {\n            status = \"UNAVAILABLE\";\n            failReason = \"Overlap with existing meeting\";\n            break;\n        }\n    }\n}\n\n// 4. Find Alternatives (Smart Scan)\nlet alternatives = [];\nlet suggestedDay = \"\"; \n\nif (status === \"UNAVAILABLE\") {\n    // Start searching from the REQUESTED Day at Start Hour\n    // We use reqStartLocal (Face Value) to find the day, then reset to 9 AM\n    let searchDateLocal = new Date(reqStartLocal); \n    searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0); \n    \n    let daysChecked = 0;\n    \n    while (alternatives.length < CONFIG.MAX_ALTERNATIVES && daysChecked < 2) {\n        // Skip Holidays/Sundays\n        if (!CONFIG.WORK_DAYS.includes(searchDateLocal.getDay())) {\n             searchDateLocal.setUTCDate(searchDateLocal.getUTCDate() + 1);\n             searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0);\n             daysChecked++;\n             continue;\n        }\n\n        // Loop through hours of this day\n        while (searchDateLocal.getUTCHours() < CONFIG.END_HOUR && alternatives.length < CONFIG.MAX_ALTERNATIVES) {\n            const slotStartUTC = getUtcTime(searchDateLocal);\n            const slotEndUTC = new Date(slotStartUTC.getTime() + 30 * 60000);\n\n            // Must be in future\n            if (slotStartUTC > new Date()) {\n                let isFree = true;\n                for (const event of events) {\n                    const eStart = new Date(event.start.dateTime || event.start.date);\n                    const eEnd = new Date(event.end.dateTime || event.end.date);\n                    if (slotStartUTC < eEnd && slotEndUTC > eStart) {\n                        isFree = false;\n                        break;\n                    }\n                }\n                \n                if (isFree) {\n                    alternatives.push(slotStartUTC.toISOString());\n                    const slotDay = searchDateLocal.getUTCDate();\n                    const reqDayNum = reqStartLocal.getUTCDate();\n                    suggestedDay = (slotDay === reqDayNum) ? \"SAME_DAY\" : \"NEXT_DAY\";\n                }\n            }\n            searchDateLocal.setUTCHours(searchDateLocal.getUTCHours() + 1);\n        }\n        \n        // Move to Next Day\n        searchDateLocal.setUTCDate(searchDateLocal.getUTCDate() + 1);\n        searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0);\n        daysChecked++;\n    }\n}\n\n// 5. Generate Natural Text\nlet resultText = \"Slot is available.\";\n\nif (status === \"UNAVAILABLE\") {\n    const altTexts = alternatives.map(iso => {\n        const dUTC = new Date(iso);\n        const dLocal = getLocalTime(dUTC);\n        \n        let hours = dLocal.getUTCHours();\n        const minutes = dLocal.getUTCMinutes();\n        const ampm = hours >= 12 ? 'PM' : 'AM';\n        hours = hours % 12;\n        hours = hours ? hours : 12;\n        const minStr = minutes < 10 ? '0' + minutes : minutes;\n        \n        return `${hours}:${minStr} ${ampm}`;\n    });\n\n    if (altTexts.length > 0) {\n        if (suggestedDay === \"SAME_DAY\") {\n             resultText = `That specific time is taken. However, I have other openings on that day at ${altTexts.join(\", \")}.`;\n        } else {\n             const nextDayName = new Date(alternatives[0]).toLocaleDateString('en-US', { weekday: 'long', timeZone: 'UTC' }); // Simple weekday name\n             resultText = `I am fully booked for the rest of that day. How about ${nextDayName} at ${altTexts.join(\", \")}?`;\n        }\n    } else {\n        resultText = \"I am fully booked for the next two days. Shall we try for next week?\";\n    }\n}\n\nreturn {\n    json: {\n        status: status,\n        result: resultText,\n        requested_slot: requestedSlotStr,\n        fail_reason: failReason,\n        debug_req_utc: reqStart.toISOString(),\n        debug_req_local: reqStartLocal.toISOString()\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -112
      ],
      "id": "6286f88f-fefb-44be-944f-8148d0107706",
      "name": "Analyze Availability"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \" {{ $json.status }}\",\n  \"message\": \"{{ $json.result }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        -112
      ],
      "id": "7b91a15a-fed4-4700-9199-99632394e166",
      "name": "Respond to Tool Call From Check Availability"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        -720
      ],
      "id": "8a718ce9-c7ff-408e-b80e-1ec56d243a8d",
      "name": "Respond to Tool Call From Update Status"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Unique_Id",
              "lookupValue": "={{ $json.body.args.unique_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        432
      ],
      "id": "29377d7c-a367-456a-90bd-bac2471264c5",
      "name": "Get The Candidate Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
          "mode": "list",
          "cachedResultName": "Candidates_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get The Candidate Info').item.json.row_number }}",
            "Call_Status": "Scheduled",
            "Notice_Period": "={{ $('The Tool Router').item.json.body.args.notice_period }}",
            "Current_CTC": "={{ $('The Tool Router').item.json.body.args.current_ctc }}",
            "Expected_CTC": "={{ $('The Tool Router').item.json.body.args.expected_ctc }}",
            "Interview_Time": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime().format('yyyy-MM-dd hh:mm a') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Unique_Id",
              "displayName": "Unique_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Applied_For",
              "displayName": "Applied_For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Summary",
              "displayName": "Resume_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATS_Score",
              "displayName": "ATS_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening_Status",
              "displayName": "Screening_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI_Analysis",
              "displayName": "AI_Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume_Link",
              "displayName": "Resume_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call_Status",
              "displayName": "Call_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notice_Period",
              "displayName": "Notice_Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current_CTC",
              "displayName": "Current_CTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected_CTC",
              "displayName": "Expected_CTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview_Time",
              "displayName": "Interview_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Non_Schedule_Reason",
              "displayName": "Non_Schedule_Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        432
      ],
      "id": "22a7e68c-9c4c-43b3-b708-f80b14155a2f",
      "name": "Update Candidate Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YyW1gcId8nYqGi8s",
          "name": "Google Sheets adeysarkar77"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "78534b3793533d60a774510c9dec6d82fdaa2477e4fbeda9282510fef145a232@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Recruitment Calendar"
        },
        "start": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime() }}",
        "end": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime().plus(30, \"minutes\") }}",
        "additionalFields": {
          "description": "=Candidate ID: {{ $json.Unique_Id }}\nJob Role: {{ $json.Applied_For }}",
          "summary": "=Interview with {{ $json.Candidate_Name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -32,
        432
      ],
      "id": "f18025b9-f7af-4718-9d7d-e7622bfae74f",
      "name": "Schedule Interview",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "N2zOq9qUSQq253tI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"Interview scheduled successfully.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        432
      ],
      "id": "0571aa06-e7cf-4df6-9ef7-f442274ffc37",
      "name": "Respond to Tool Call Book Interview Slot"
    },
    {
      "parameters": {
        "content": "## 📡 Webhook & Router\n**Entry Point:** Receives POST requests from Retell AI.\n**Routing Logic:** Switches based on `body.tool_name` (or `args.tool_name`).\n- Path 1: `update_candidate_status`\n- Path 2: `check_slot_availability`\n- Path 3: `book_interview_slot`",
        "height": 416,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -304
      ],
      "typeVersion": 1,
      "id": "2fde67a5-99c8-4b7f-82c4-ce7ff4582d5a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📝 Tool: Update Candidate Status\n**Purpose:** Updates the Google Sheet when a candidate rejects or defers the call.\n1. **Get Info:** Finds the row index using `unique_id`.\n2. **Update Status:** writes the specific status (e.g., \"Not Interested\") to the `Call_Status` column.\n3. **Response:** Returns `{\"result\": \"success\"}` to acknowledging the update.",
        "height": 320,
        "width": 896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -880
      ],
      "typeVersion": 1,
      "id": "6379524d-982a-4658-a610-ad20e2896b71",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🗓️ Tool: Check Slot Availability\n**Purpose:** Checks for conflicts and suggests alternatives.\n\n**1. Prepare Time:** (Code Node)\n- Converts User Input (IST/Floating) to UTC.\n- Defines the \"Search Window\" (Start of Day to End of Day).\n\n**2. Get Events:** (GCal Node)\n- Fetches all existing meetings for that specific day.\n\n**3. Analyze Availability:** (Code Node)\n- Checks for overlaps.\n- Logic: `(ReqStart < ExistingEnd) && (ReqEnd > ExistingStart)`\n- If Unavailable: Scans 10 AM - 7 PM to find 3 alternative slots.\n- **Critical Output:** Returns `status: \"AVAILABLE\"` or `\"UNAVAILABLE\"`.\n\n**4. Respond:**\n- Returns JSON: `{\"status\": \"...\", \"message\": \"...\"}` so the AI knows whether to proceed or stop.",
        "height": 576,
        "width": 896,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -528
      ],
      "typeVersion": 1,
      "id": "3ddcc42e-aa82-4ddf-91d4-0c33d6b21163",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ✅ Tool: Book Interview Slot\n**Purpose:** Finalizes the booking after user confirmation.\n\n**1. Verification:** Finds the candidate row again to ensure data integrity.\n\n**2. Schedule Interview:** (GCal Node)\n- Creates the actual Google Calendar event.\n- Title: \"Interview: [Candidate ID]\"\n- Description: Includes Notice Period, Current CTC, Expected CTC.\n\n**3. Update DB:** (Sheet Node)\n- Updates `Call_Status` to \"Interview Scheduled\".\n- Saves the `Interview_Date`, `Notice_Period`, and `CTC` details to the sheet.\n\n**4. Final Response:** Confirms success to the AI so it can say goodbye.",
        "height": 576,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        80
      ],
      "typeVersion": 1,
      "id": "d6b6caa0-e623-49e0-b6c3-9bf034b63ab3",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "The Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Tool Router": {
      "main": [
        [
          {
            "node": "Get Candidate Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare the Time Window",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get The Candidate Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Info": {
      "main": [
        [
          {
            "node": "Update Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status": {
      "main": [
        [
          {
            "node": "Respond to Tool Call From Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare the Time Window": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Analyze Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Availability": {
      "main": [
        [
          {
            "node": "Respond to Tool Call From Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get The Candidate Info": {
      "main": [
        [
          {
            "node": "Schedule Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Candidate Info": {
      "main": [
        [
          {
            "node": "Respond to Tool Call Book Interview Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Interview": {
      "main": [
        [
          {
            "node": "Update Candidate Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "296d3291-8685-4599-9faf-3883d09e6112",
  "activeVersionId": "2442cec2-86c6-4d88-bb5c-bcdafdb24768",
  "versionCounter": 24,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-14T04:39:52.477Z",
      "createdAt": "2026-01-14T04:39:52.477Z",
      "role": "workflow:owner",
      "workflowId": "ZeofjOeIQNkGvJ3A",
      "projectId": "nPULQSgjz9YKHEZ2",
      "project": {
        "updatedAt": "2025-05-25T07:44:53.966Z",
        "createdAt": "2025-05-25T07:38:19.017Z",
        "id": "nPULQSgjz9YKHEZ2",
        "name": "Argha Dey Sarkar <email2argha@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
        "projectRelations": [
          {
            "updatedAt": "2025-05-25T07:38:19.017Z",
            "createdAt": "2025-05-25T07:38:19.017Z",
            "userId": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
            "projectId": "nPULQSgjz9YKHEZ2",
            "user": {
              "updatedAt": "2026-01-15T04:06:52.000Z",
              "createdAt": "2025-05-25T07:38:18.466Z",
              "id": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9",
              "email": "email2argha@gmail.com",
              "firstName": "Argha",
              "lastName": "Dey Sarkar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-25T07:46:43.781Z",
                "personalization_survey_n8n_version": "1.93.0",
                "automationGoalDevops": [
                  "monitoring-alerting",
                  "cloud-infrastructure-orchestration"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "vSTSXvCp1TdpkJhY",
                "userActivatedAt": 1748174400163,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1764302866737
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-12T17:30:36.998Z",
      "createdAt": "2026-01-12T17:30:36.998Z",
      "id": "mAkyKogKtWsVdpO8",
      "name": "recruitment-agents"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-14T07:29:24.000Z",
    "createdAt": "2026-01-14T07:29:19.012Z",
    "versionId": "2442cec2-86c6-4d88-bb5c-bcdafdb24768",
    "workflowId": "ZeofjOeIQNkGvJ3A",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "call-tool",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -832,
          -96
        ],
        "id": "30658f34-a656-48b0-94c4-9c7a169cf06b",
        "name": "Webhook",
        "webhookId": "31dffbe0-38cc-4131-8735-45e55a7c27fd"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.name }}",
                      "rightValue": "update_candidate_status",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "6a2241b1-a5b6-4625-a09f-15ecb3a30d5d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Update Status"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "94884935-9377-4dc3-a27e-478654ccb08f",
                      "leftValue": "={{ $json.body.name }}",
                      "rightValue": "check_slot_availability",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Check Availability"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9d519340-34a2-4449-abf5-5378552f6629",
                      "leftValue": "={{ $json.body.name }}",
                      "rightValue": "book_interview_slot",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Book Slot"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -624,
          -112
        ],
        "id": "72ce176f-4eea-47b3-b92c-21851bd0cee7",
        "name": "The Tool Router"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
            "mode": "list",
            "cachedResultName": "Candidates_DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Unique_Id",
                "lookupValue": "={{ $json.body.args.unique_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -48,
          -272
        ],
        "id": "189ac194-f285-442f-b848-d16f69ef8806",
        "name": "Get Candidate Info",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YyW1gcId8nYqGi8s",
            "name": "Google Sheets adeysarkar77"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
            "mode": "list",
            "cachedResultName": "Candidates_DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "Call_Status": "={{ $('Webhook').item.json.body.args.status }}",
              "Non_Schedule_Reason": "={{ $('Webhook').item.json.body.args.reason }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Unique_Id",
                "displayName": "Unique_Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Candidate_Name",
                "displayName": "Candidate_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Applied_For",
                "displayName": "Applied_For",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Location",
                "displayName": "Location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Resume_Summary",
                "displayName": "Resume_Summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ATS_Score",
                "displayName": "ATS_Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Screening_Status",
                "displayName": "Screening_Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "AI_Analysis",
                "displayName": "AI_Analysis",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Resume_Link",
                "displayName": "Resume_Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Call_Status",
                "displayName": "Call_Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Notice_Period",
                "displayName": "Notice_Period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Current_CTC",
                "displayName": "Current_CTC",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Expected_CTC",
                "displayName": "Expected_CTC",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Interview_Time",
                "displayName": "Interview_Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Non_Schedule_Reason",
                "displayName": "Non_Schedule_Reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          160,
          -272
        ],
        "id": "b1373b98-4f82-4ea6-b675-945ca5419a82",
        "name": "Update Call Status",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YyW1gcId8nYqGi8s",
            "name": "Google Sheets adeysarkar77"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the requested slot\nconst requestedSlot = $input.first().json.body.args.requested_slot;\nconst dateObj = new Date(requestedSlot);\n\n// 2. Define IST Offset (India is UTC + 5 hours 30 minutes)\n// 5.5 hours * 60 mins * 60 seconds * 1000 milliseconds\nconst istOffsetMs = 5.5 * 60 * 60 * 1000; \n\n// 3. Shift the time to \"India Time\" manually\nconst dateInIST = new Date(dateObj.getTime() + istOffsetMs);\n\n// 4. Clamp to Start of Day (00:00:00) in India Time\ndateInIST.setUTCHours(0, 0, 0, 0);\n\n// 5. Shift back to UTC to get the \"Search Window Start\"\nconst windowMin = new Date(dateInIST.getTime() - istOffsetMs);\n\n// 6. Calculate End of Day (add 23h 59m 59s 999ms)\n// We add \"almost\" 24 hours to the windowMin\nconst windowMax = new Date(windowMin.getTime() + (24 * 60 * 60 * 1000) - 1);\n\nreturn {\n  json: {\n    requested_slot: requestedSlot,\n    window_min: windowMin.toISOString(),\n    window_max: windowMax.toISOString()\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          -96
        ],
        "id": "513bef97-0798-4832-89cd-d57ed48ebb77",
        "name": "Prepare the Time Window"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "78534b3793533d60a774510c9dec6d82fdaa2477e4fbeda9282510fef145a232@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Recruitment Calendar"
          },
          "timeMin": "={{ $json.window_min.toDateTime() }}",
          "timeMax": "={{ $json.window_max.toDateTime() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          144,
          -96
        ],
        "id": "8d3b8b9b-09c6-4adb-a2e7-23a39faaeb56",
        "name": "Get many events",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "N2zOq9qUSQq253tI",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ==========================================\n// ⚙️ CONFIGURATION SECTION\n// ==========================================\nconst CONFIG = {\n    TIMEZONE_OFFSET: 5.5, // India (+5.5)\n    START_HOUR: 9,        // 9 AM\n    END_HOUR: 19,         // 7 PM\n    WORK_DAYS: [1, 2, 3, 4, 5, 6], // Mon-Sat\n    MAX_ALTERNATIVES: 3\n};\n// ==========================================\n\n// 1. Get Inputs\nconst requestedSlotStr = $('Prepare the Time Window').first().json.requested_slot;\nconst events = $input.all().map(item => item.json);\n\n// Helper: Convert UTC to Local Config Time (Face Value)\n// e.g. Converts 06:30 UTC -> 12:00 \"UTC-Face\" (which represents 12 PM IST)\nconst getLocalTime = (dateObj) => {\n    return new Date(dateObj.getTime() + (CONFIG.TIMEZONE_OFFSET * 60 * 60 * 1000));\n};\n// Helper: Convert Local Config Time (Face Value) to True UTC\n// e.g. Converts 12:00 \"UTC-Face\" -> 06:30 UTC\nconst getUtcTime = (localDateObj) => {\n    return new Date(localDateObj.getTime() - (CONFIG.TIMEZONE_OFFSET * 60 * 60 * 1000));\n};\n\n// 2. Process Requested Slot (SMART PARSING FIX)\nconst inputDate = new Date(requestedSlotStr);\nlet reqStart;      // The TRUE UTC time for Calendar checking\nlet reqStartLocal; // The \"Face Value\" time for Office Hours checking\n\n// Check if input has timezone info (+05:30 or Z)\nconst hasTimezone = requestedSlotStr.includes('+') || requestedSlotStr.includes('Z');\n\nif (hasTimezone) {\n    // Case A: Input is \"12:00+05:30\" (Correct ISO)\n    // new Date() already parses this to True UTC (06:30 Z)\n    reqStart = inputDate; \n    // Convert to Local Face Value for logic checks (06:30 Z -> 12:00)\n    reqStartLocal = getLocalTime(reqStart);\n} else {\n    // Case B: Input is \"12:00\" (Floating/Local)\n    // new Date() treats this as 12:00 UTC (Face Value)\n    reqStartLocal = inputDate; \n    // Convert Face Value to True UTC (12:00 -> 06:30 Z)\n    reqStart = getUtcTime(reqStartLocal);\n}\n\nconst reqEnd = new Date(reqStart.getTime() + 30 * 60000); \n\n// 3. Check Availability\nlet status = \"AVAILABLE\";\nlet failReason = \"\";\n\nconst reqDay = reqStartLocal.getDay();\nconst reqHour = reqStartLocal.getUTCHours(); \n\nif (!CONFIG.WORK_DAYS.includes(reqDay)) {\n    status = \"UNAVAILABLE\";\n    failReason = \"Non-working day\";\n} else if (reqHour < CONFIG.START_HOUR || reqHour >= CONFIG.END_HOUR) {\n    status = \"UNAVAILABLE\";\n    failReason = \"Outside office hours\";\n}\n\nif (status === \"AVAILABLE\") {\n    for (const event of events) {\n        if (!event.start || !event.end) continue;\n        const eStart = new Date(event.start.dateTime || event.start.date);\n        const eEnd = new Date(event.end.dateTime || event.end.date);\n        \n        if (reqStart < eEnd && reqEnd > eStart) {\n            status = \"UNAVAILABLE\";\n            failReason = \"Overlap with existing meeting\";\n            break;\n        }\n    }\n}\n\n// 4. Find Alternatives (Smart Scan)\nlet alternatives = [];\nlet suggestedDay = \"\"; \n\nif (status === \"UNAVAILABLE\") {\n    // Start searching from the REQUESTED Day at Start Hour\n    // We use reqStartLocal (Face Value) to find the day, then reset to 9 AM\n    let searchDateLocal = new Date(reqStartLocal); \n    searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0); \n    \n    let daysChecked = 0;\n    \n    while (alternatives.length < CONFIG.MAX_ALTERNATIVES && daysChecked < 2) {\n        // Skip Holidays/Sundays\n        if (!CONFIG.WORK_DAYS.includes(searchDateLocal.getDay())) {\n             searchDateLocal.setUTCDate(searchDateLocal.getUTCDate() + 1);\n             searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0);\n             daysChecked++;\n             continue;\n        }\n\n        // Loop through hours of this day\n        while (searchDateLocal.getUTCHours() < CONFIG.END_HOUR && alternatives.length < CONFIG.MAX_ALTERNATIVES) {\n            const slotStartUTC = getUtcTime(searchDateLocal);\n            const slotEndUTC = new Date(slotStartUTC.getTime() + 30 * 60000);\n\n            // Must be in future\n            if (slotStartUTC > new Date()) {\n                let isFree = true;\n                for (const event of events) {\n                    const eStart = new Date(event.start.dateTime || event.start.date);\n                    const eEnd = new Date(event.end.dateTime || event.end.date);\n                    if (slotStartUTC < eEnd && slotEndUTC > eStart) {\n                        isFree = false;\n                        break;\n                    }\n                }\n                \n                if (isFree) {\n                    alternatives.push(slotStartUTC.toISOString());\n                    const slotDay = searchDateLocal.getUTCDate();\n                    const reqDayNum = reqStartLocal.getUTCDate();\n                    suggestedDay = (slotDay === reqDayNum) ? \"SAME_DAY\" : \"NEXT_DAY\";\n                }\n            }\n            searchDateLocal.setUTCHours(searchDateLocal.getUTCHours() + 1);\n        }\n        \n        // Move to Next Day\n        searchDateLocal.setUTCDate(searchDateLocal.getUTCDate() + 1);\n        searchDateLocal.setUTCHours(CONFIG.START_HOUR, 0, 0, 0);\n        daysChecked++;\n    }\n}\n\n// 5. Generate Natural Text\nlet resultText = \"Slot is available.\";\n\nif (status === \"UNAVAILABLE\") {\n    const altTexts = alternatives.map(iso => {\n        const dUTC = new Date(iso);\n        const dLocal = getLocalTime(dUTC);\n        \n        let hours = dLocal.getUTCHours();\n        const minutes = dLocal.getUTCMinutes();\n        const ampm = hours >= 12 ? 'PM' : 'AM';\n        hours = hours % 12;\n        hours = hours ? hours : 12;\n        const minStr = minutes < 10 ? '0' + minutes : minutes;\n        \n        return `${hours}:${minStr} ${ampm}`;\n    });\n\n    if (altTexts.length > 0) {\n        if (suggestedDay === \"SAME_DAY\") {\n             resultText = `That specific time is taken. However, I have other openings on that day at ${altTexts.join(\", \")}.`;\n        } else {\n             const nextDayName = new Date(alternatives[0]).toLocaleDateString('en-US', { weekday: 'long', timeZone: 'UTC' }); // Simple weekday name\n             resultText = `I am fully booked for the rest of that day. How about ${nextDayName} at ${altTexts.join(\", \")}?`;\n        }\n    } else {\n        resultText = \"I am fully booked for the next two days. Shall we try for next week?\";\n    }\n}\n\nreturn {\n    json: {\n        status: status,\n        result: resultText,\n        requested_slot: requestedSlotStr,\n        fail_reason: failReason,\n        debug_req_utc: reqStart.toISOString(),\n        debug_req_local: reqStartLocal.toISOString()\n    }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -96
        ],
        "id": "6286f88f-fefb-44be-944f-8148d0107706",
        "name": "Analyze Availability"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \" {{ $json.status }}\",\n  \"message\": \"{{ $json.result }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          656,
          -96
        ],
        "id": "7b91a15a-fed4-4700-9199-99632394e166",
        "name": "Respond to Tool Call From Check Availability"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"result\": \"success\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          368,
          -272
        ],
        "id": "8a718ce9-c7ff-408e-b80e-1ec56d243a8d",
        "name": "Respond to Tool Call From Update Status"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
            "mode": "list",
            "cachedResultName": "Candidates_DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Unique_Id",
                "lookupValue": "={{ $json.body.args.unique_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -64,
          112
        ],
        "id": "29377d7c-a367-456a-90bd-bac2471264c5",
        "name": "Get The Candidate Info",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YyW1gcId8nYqGi8s",
            "name": "Google Sheets adeysarkar77"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ",
            "mode": "list",
            "cachedResultName": "Candidates_DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VX-DANXMHnMT-VPwzPJ1EJ2huS-HAUr7ew5PlN308DQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Get The Candidate Info').item.json.row_number }}",
              "Call_Status": "Scheduled",
              "Notice_Period": "={{ $('The Tool Router').item.json.body.args.notice_period }}",
              "Current_CTC": "={{ $('The Tool Router').item.json.body.args.current_ctc }}",
              "Expected_CTC": "={{ $('The Tool Router').item.json.body.args.expected_ctc }}",
              "Interview_Time": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime().format('yyyy-MM-dd hh:mm a') }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Unique_Id",
                "displayName": "Unique_Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Candidate_Name",
                "displayName": "Candidate_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Applied_For",
                "displayName": "Applied_For",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Location",
                "displayName": "Location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Resume_Summary",
                "displayName": "Resume_Summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ATS_Score",
                "displayName": "ATS_Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Screening_Status",
                "displayName": "Screening_Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "AI_Analysis",
                "displayName": "AI_Analysis",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Resume_Link",
                "displayName": "Resume_Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Call_Status",
                "displayName": "Call_Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Notice_Period",
                "displayName": "Notice_Period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Current_CTC",
                "displayName": "Current_CTC",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Expected_CTC",
                "displayName": "Expected_CTC",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Interview_Time",
                "displayName": "Interview_Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Non_Schedule_Reason",
                "displayName": "Non_Schedule_Reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          368,
          112
        ],
        "id": "22a7e68c-9c4c-43b3-b708-f80b14155a2f",
        "name": "Update Candidate Info",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YyW1gcId8nYqGi8s",
            "name": "Google Sheets adeysarkar77"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "78534b3793533d60a774510c9dec6d82fdaa2477e4fbeda9282510fef145a232@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Recruitment Calendar"
          },
          "start": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime() }}",
          "end": "={{ $('The Tool Router').item.json.body.args.final_slot_time.toDateTime().plus(30, \"minutes\") }}",
          "additionalFields": {
            "description": "=Candidate ID: {{ $json.Unique_Id }}\nJob Role: {{ $json.Applied_For }}",
            "summary": "=Interview with {{ $json.Candidate_Name }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          160,
          112
        ],
        "id": "f18025b9-f7af-4718-9d7d-e7622bfae74f",
        "name": "Schedule Interview",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "N2zOq9qUSQq253tI",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"result\": \"Interview scheduled successfully.\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          576,
          112
        ],
        "id": "0571aa06-e7cf-4df6-9ef7-f442274ffc37",
        "name": "Respond to Tool Call Book Interview Slot"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "The Tool Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "The Tool Router": {
        "main": [
          [
            {
              "node": "Get Candidate Info",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare the Time Window",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get The Candidate Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Candidate Info": {
        "main": [
          [
            {
              "node": "Update Call Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Status": {
        "main": [
          [
            {
              "node": "Respond to Tool Call From Update Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare the Time Window": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Analyze Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Availability": {
        "main": [
          [
            {
              "node": "Respond to Tool Call From Check Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get The Candidate Info": {
        "main": [
          [
            {
              "node": "Schedule Interview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Candidate Info": {
        "main": [
          [
            {
              "node": "Respond to Tool Call Book Interview Slot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Interview": {
        "main": [
          [
            {
              "node": "Update Candidate Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Argha Dey Sarkar",
    "name": "Version 2442cec2",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-14T07:29:24.405Z",
        "id": 62,
        "workflowId": "ZeofjOeIQNkGvJ3A",
        "versionId": "2442cec2-86c6-4d88-bb5c-bcdafdb24768",
        "event": "activated",
        "userId": "efbcfcc6-1d00-4a8e-ae51-9e0e1b58d7e9"
      }
    ]
  }
}